.category{
    display: flex;
}
.category-container{
    padding-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.category-list{
    padding-left: 0;
    list-style: none;
    width: 120px;
}
.product-list{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
}
